spring:
  jpa:
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
  datasource:
    hikari:
      jdbc-url: jdbc:mysql://localhost:3306/trip
      username: ${DB_USERNAME}
  h2:
    console:
      enabled: true
  session:
    store-type: jdbc
  security.oauth2.client.registration:
          google:
            client-id: test
            client-secret: test
            scope: profile, email